body {
    --background: #0C0A3E;
    --primary: #F9564F;
    --surface: #3d3a71;
    --text: rgba(255, 255, 255, 0.93);
    --text-muted: rgba(255, 255, 255, 0.6);
    --divider: rgba(255, 255, 255, 0.3)
}

body {
    background-color: var(--background);
    color: var(--text);
}

h1 {
    font-weight: bold;
    color: var(--primary);
}

h4 {
    font-weight: normal;
    color: var(--primary);
}

hr {
    border-color: var(--divider);
}

.text-muted {
    color: var(--text-muted) !important;
}

.table {
    color: var(--text);
    table-layout: fixed;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.product-list .product {
    --item-height: 128px;
    --item-width: 100%;
    --item-margin: 1rem;

    flex-basis: var(--item-width);
    margin: var(--item-margin);
    background-color: var(--surface);
    min-height: var(--item-height);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
}

.product .card-title {
    color: var(--text);
    font-weight: 500;
}

.product .img {
    background: #F9564F;
    min-width: var(--item-height);
    height: 100%
}

.product .content {
    flex-grow: 1;
    padding: 1rem 1.5rem;
}

@media screen and (min-width: 992px) {
    .product-list .product {
        --item-width: calc(50% - 2rem);
    }
}

@media screen and (min-width: 1200px) {
    .product-list {
        margin: 0 -2rem;
    }

    .product-list .product {
        --item-width: calc(50% - 4rem);
        --item-margin: 1.25rem 2rem;
    }
}