<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementServlet</servlet-name>
        <servlet-class>uts.isd.controller.user_management.UserManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementServlet</servlet-name>
        <url-pattern>/UserManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editProfileServlet</servlet-name>
        <servlet-class>uts.isd.controller.editProfileServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>editProfileServlet</servlet-name>
        <url-pattern>/editProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementCreateServlet</servlet-name>
        <servlet-class>uts.isd.controller.user_management.UserManagementCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementCreateServlet</servlet-name>
        <url-pattern>/UserManagementCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementEditServlet</servlet-name>
        <servlet-class>uts.isd.controller.user_management.UserManagementEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementEditServlet</servlet-name>
        <url-pattern>/UserManagementEditServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementDeleteServlet</servlet-name>
        <servlet-class>uts.isd.controller.user_management.UserManagementDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementDeleteServlet</servlet-name>
        <url-pattern>/UserManagementDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementActiveServlet</servlet-name>
        <servlet-class>uts.isd.controller.user_management.UserManagementActiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementActiveServlet</servlet-name>
        <url-pattern>/UserManagementActiveServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportingServlet</servlet-name>
        <servlet-class>uts.isd.controller.reporting.ReportingServlet</servlet-class>
     </servlet>
    <servlet-mapping>
        <servlet-name>ReportingServlet</servlet-name>
        <url-pattern>/ReportingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportFormServlet</servlet-name>
        <servlet-class>uts.isd.controller.reporting.ReportFormServlet</servlet-class>
     </servlet>
    <servlet-mapping>
        <servlet-name>ReportFormServlet</servlet-name>
        <url-pattern>/ReportFormServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
