<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogsServlet</servlet-name>
        <servlet-class>uts.isd.controller.LogsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogsServlet</servlet-name>
        <url-pattern>/LogsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>

    <!--User Management-->
    <servlet>
        <servlet-name>UserManagementServlet</servlet-name>
        <servlet-class>uts.isd.controller.user_management.UserManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementServlet</servlet-name>
        <url-pattern>/UserManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementCreateServlet</servlet-name>
        <servlet-class>uts.isd.controller.user_management.UserManagementCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementCreateServlet</servlet-name>
        <url-pattern>/UserManagementCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementEditServlet</servlet-name>
        <servlet-class>uts.isd.controller.user_management.UserManagementEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementEditServlet</servlet-name>
        <url-pattern>/UserManagementEditServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementDeleteServlet</servlet-name>
        <servlet-class>uts.isd.controller.user_management.UserManagementDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementDeleteServlet</servlet-name>
        <url-pattern>/UserManagementDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementActiveServlet</servlet-name>
        <servlet-class>uts.isd.controller.user_management.UserManagementActiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementActiveServlet</servlet-name>
        <url-pattern>/UserManagementActiveServlet</url-pattern>
    </servlet-mapping>

    <!--Reporting-->
    <servlet>
        <servlet-name>ReportingServlet</servlet-name>
        <servlet-class>uts.isd.controller.reporting.ReportingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportingServlet</servlet-name>
        <url-pattern>/ReportingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportFormServlet</servlet-name>
        <servlet-class>uts.isd.controller.reporting.ReportFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportFormServlet</servlet-name>
        <url-pattern>/ReportFormServlet</url-pattern>
    </servlet-mapping>

    <!--Payment-->
    <servlet>
        <servlet-name>EditPaymentInfoServlet</servlet-name>
        <servlet-class>uts.isd.controller.payment.EditPaymentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPaymentInfoServlet</servlet-name>
        <url-pattern>/EditPaymentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.payment.DeletePaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <url-pattern>/DeletePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>uts.isd.controller.payment.InvoiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/InvoiceServlet</url-pattern>
    </servlet-mapping>

    <!--Product-->
    <servlet>
        <servlet-name>CatalogueServlet</servlet-name>
        <servlet-class>uts.isd.controller.product.CatalogueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogueServlet</servlet-name>
        <url-pattern>/products/CatalogueServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>uts.isd.controller.product.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/products/ProductDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.product.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/products/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.product.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/products/EditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.product.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/products/DeleteProductServlet</url-pattern>
    </servlet-mapping>

    <!--Order-->
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>uts.isd.controller.order.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/order/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClearCartServlet</servlet-name>
        <servlet-class>uts.isd.controller.order.ClearCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClearCartServlet</servlet-name>
        <url-pattern>/order/ClearCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>uts.isd.controller.order.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/order/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCartItemServlet</servlet-name>
        <servlet-class>uts.isd.controller.order.UpdateCartItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCartItemServlet</servlet-name>
        <url-pattern>/order/UpdateCartItemServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.order.PlaceOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/order/PlaceOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <servlet-class>uts.isd.controller.order.OrderDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <url-pattern>/order/OrderDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>uts.isd.controller.order.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/order/UpdateOrderStatusServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
